.DS_Store
.travis.yml
node_modules
recipes.json
dist
js
test/getDOMMOdel.spec.js
test/getLastPage.spec.js
test/getLinksFromPage.spec.js
test/getStatus.spec.js
test/recipe.spec.js
test/scrapePage.spec.js
test/scrapeRecipe.spec.js
test/srapeRecipe.spec.js
coverage
test/test.json
